# Build output
/build/
/build*/
/out/

# CMake cruft (in case of in-source configure)
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Editor / OS
.DS_Store
*.swp
*~
.vs
.vscode

# clangd
.cache
